@import "tailwindcss";

@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/Futura.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    font-family: 'Futura', sans-serif;
    font-stretch: 125%;
}