name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build the Docker image
        run: docker build --platform linux/amd64 -t neerajkumar1044/prml-project-backend:latest /Website/Backend

      - name: Push Docker image to Docker Hub
        run: docker push neerajkumar1044/prml-project-backend:latest
        
